.Basicwrap{
	/*width:60vh;*/
	margin-top:14.5vh;
	height:85.5vh;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow-x:hidden;
	overflow-y:scroll;
	/*background-image:url('/src/static/stars1.gif')*/
}