.Contact{
	width:100vw;
	height:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Quicksand', sans-serif;*/
	/*font-family: 'Supermercado One', cursive;*/
	/*background-color: white;*/
	display:flex;
	align-items:center;
  	justify-content:space-around;
  	flex-wrap: wrap;
  	word-spacing:3px;
  	letter-spacing: 2px;
  	line-height:170%;
	-webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;

}
#iframewrap{
	/*background:none;*/
	/*height:100%;*/
	width:360px;
	height:300px;
	/*background-color:rgba(211,211,0,0.1);*/
	background-color:lightgrey;
}
.cmnContact{
	margin:15px;
	width:360px;
	height:300px;
	overflow: hidden;
	/*background-color:rgba(255,255,255,0.5);*/
	/*border: 3px solid white;*/
	/*box-shadow: */
	/*background-color: #0c090c;*/
/*background-image: linear-gradient(45deg, #0c090c 0%, #353637 34%, #b7bab8 60%, #585757 100%);*/

}
.cmnContact div{
	width:100%;
  -webkit-animation: mymove 1s; 
  animation: mymove 1s;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;	
}
@-webkit-keyframes mymove {
    from {transform:translateX(-90%);}
    to {transform:translateX(0%);}
}

@keyframes mymove {
    from {transform:translateX(-90%);}
    to {transform:translateX(0%);}
}
.addContact{
	padding:20px;
}
.addContact h3{
	font-size:28px;
	color: grey;
}
.addContact p{
	color:white;
	font-size:20px;
}
.forlast{
	width:350px;
	height:10px;
	color:lightgrey;
	margin:10px;
	padding:20px;
	background-color: red;
}
@media only screen and (max-width:7in){
	.Contact{
		height:initial;
		/*flex-direction:column;*/
	}
	#iframewrap{
		width:330px !important;
		margin-top:5%;
		padding: 0;
	}
	.cmnContact{
		width:300px;
		/*margin:10px;*/
		overflow:hidden;
	}
}
@media only screen and (min-width:7in) and (max-width:11in){
	
}
