.Events{
	width:100vw;
	padding-top: 100px;
	font-family: 'Roboto',sans-serif;
}
.route-title-cont{
	width:100px;
	margin:0 auto;
	background-color:black;
	color:white;
	text-align: center;
	padding:10px;
	font-size:20px;
	font-weight:bolder;
	letter-spacing:2px;
}
.trig-ff-cont{
	
}
.trig-ff{
	display: inline-block;
	margin:30px;
}
.trig-ff-title{
	font-size:15px;

}
.trig-wrapper{
		margin: 0 auto;
}
.trig{
	width:14px;
	height:14px;
	border-radius:50%;
	display: inline-block;
	margin:5px;
	border:1px solid black;
	vertical-align: middle;
}

/*#trig1,#trig2{
	background-color: black;
}*/
.trig-active{
	width:10px;
	height:10px;
	margin:2px;
	border-radius:50%;
	background-color:transparent;
}
#trig0{
	background-color: red;
}
#trig00{
	background-color: red;
}
/*old css properties*/

.cont-sidebars{
	margin-top: 40px;
}
.leftSide{
	width:37vw;
	min-height: 20vh;
	
	display:inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin:0;
	vertical-align: top;
}
.rightSide{
	width:62vw;
	min-height: 20vh;
	background-color: white;
	display:inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin:0;
	border-radius: 2%;

}
.event-card-cont{
	margin:10px 2.5% 10px 2.5%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	width:45%;
	
}
.event-card-img{
	border-radius:5px;
}
@media only screen and (min-width:7in) and (max-width:12in){
	.event-card-cont{
		margin:10px 5%;
		width:90%;
	}
	.leftSide{
		width:40%;
	}
	.rightSide{
		width:43%;
	}
}
@media only screen and (max-width:7in){
	.leftSide{
		width:100vw;
		min-height: 20vh;
		display:block;
	}
	.rightSide{
		width:100vw;
		min-height:20vh;
		display: block;
		padding-top: 20px;
	}
	.event-card-cont{
	margin:10px 1% 10px 1%;
	width:98%;
	
	}
}
