.Events{
	width:100vw;
	/*height:100%;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
	/*background-color: white;*/
	display:flex;
	align-items:center;
  	/*justify-content:space-around;*/
  	flex-wrap: wrap;
  	flex-direction:column;
  	margin-bottom: 50vh;
}
@media only screen and (max-width:7in){
	.Events{
		/*height:initial;*/
	}
}
@media only screen and (min-width:7in) and (max-width:11in){
	
}
