.footer-wrapper{
	position:fixed;
	bottom:0;
	left:0;
	width:100vw;
	font-family: 'Roboto',sans-serif;
	height:10vh;
	display:flex;
	align-items:center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5)
}
.fa {
  padding: 12px;
  font-size: 17px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
  color:rgba(211,211,211,0.5);
  border:3px solid rgba(211,211,211,0.5);
  border-radius:50%;
}

.fa:hover {
  color:white;
  border:3px solid white;;
}
@media only screen and (max-width:8in){
	.fa{
	  padding: 7px;
	  font-size: 14px;
	  width: 14px;	
	}
	.footer-wrapper{
		display: none;
	}
}