.Home{
  display:flex;
  align-items:center;
  justify-content: center;
  height:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  width:100vw;
}
.HomeTTLogo{
  text-align: center;
  padding-bottom:20%;
}
.HomeTTLogo span{
  color:white;
  margin:0;
  vertical-align: center;
  font-family: 'Roboto',sans-serif;
}
.HomeTTLogoimg{
  /*width:250px;*/
  height:170px;
}.NitdLogoimg{
  width:90px;
  height:90px;  
  vertical-align: center;
}