.Home {
  display:flex;
  /*display: inline-flex;*/
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  clear:both;
}

.HomeTTLogo {
  /*background-color: red;*/
  text-align: center;
  padding-top:15%;
  padding-bottom: 25%;
  overflow: hidden;
}
.wrap-nitdlogo {
  display: flex;
  /*height: 90px !important;*/
  align-items: center;
  justify-content: center;
}
.HomeTTLogo span {
  color: white;
  margin-left: 15px;
  font-size: 26px;
  vertical-align: center;
  font-family: 'Roboto', sans-serif;
}
.HomeTTLogoimg {
  width:250px !important;
  /*height: 180px !important;*/

}
.TTDate{
  text-align:center;
  font-family:'Raleway', cursive;
  width:100%;
  color:lightgrey;
  margin-bottom:5px;
  font-weight: bolder;
  font-size:20px;
}
.NITDText{
  text-align:center;
  font-family:'Raleway', cursive;
  width:100%;
  color:grey;
  /*margin-bottom: 20px;*/
  font-weight: bolder;
  font-size:17px;
}
.NitdLogoimg {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  vertical-align: center;
}
@media only screen and (max-width:7in){
  .HomeTTLogo{
    padding-top: 0;
  }
  .HomeTTLogoimg{
    width:250px !important;
    height: 140px !important;    
  }
  .wrap-nitdlogo img{
    height: 50px !important;
    width: 50px !important;
  }
}