.Home{
  display:flex;
  align-items:center;
  justify-content: center;
  height:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  width:100vw;
}
.earth-wrap{
  width:320px;
  height:320px;
  border-radius: 50%;
  border:2px solid white;
}