.Lectures{
  display:flex;
  align-items:center;
  justify-content: center;
  height:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  width:100vw;
  color:lightgrey;
  font-family:'Nova Flat', cursive;
  flex-wrap: wrap;
}

.images{
    height:90%;
    margin:0 30px;
  }
@media only screen and (max-width:8in){
  .images{
      width:97%;
      height:initial;
      margin:0;
      margin-top:20px;
  }
  .Lectures{
      height:initial;
      overflow:initial;
  }
}