.navbar-cont{
	width:100vw;
	background-color:lightblue ;
	position: relative;
	top:0;
	left:0;
}
.title{
	font-size:50px;
	font-style: 'Roboto',sans-serif;
}
.trigger{
	position: absolute;
	right:40px;
	top:10px;
}
.options-cont{
	background-color: lightblue;
	text-align:  center;
	height:80vh;
	padding-top:20vh;
}