
#openmenu-cont{
	z-index: 5000;
	width:0;
	/*background-color:rgba(0,0,0,0.8);*/
	height:100%;
	overflow:hidden;
	transition:0.2s ;
	position: fixed;
	top:0;
	right:0;
	background-color: white;
}
#second-child{
	width:100%;
	height:90%;
	/*overflow-y:scroll;*/
	/*background-color:green;*/
  padding-bottom:30%;
	display:flex;
	align-items:flex-start;
	justify-content:center;
	 flex-direction: column;
   position:relative;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.close-but-cont{
	z-index:800;
	width:100%;
	height:50px;
	display:flex;
	align-items:center;
	justify-content:flex-end;
	padding-right:20px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: none;
}
.background-div{
  position: absolute;
  width:100%;
  height:100%;
  z-index:-2;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
}
.background-div img{
  width:100%;
  margin-bottom:60px;
}
.navbutt {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1px 0;
  padding: 0.4em 2em;
  -webkit-box-shadow: none;
          box-shadow: none;
  color:black;
  font-size:25px;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  cursor:pointer;
  background: none;
  font-family: 'Quicksand',sans-serif;
  outline: none;
  -moz-outline:none;
}
.navbutt::before,.navbutt::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draww {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.draww::before, .draww::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draww::before {
  top: 0;
  left: 0;
}
.draww::after {
  bottom: 0;
  right: 0;
}
.draww:hover {
  background:none;
}
.draww:hover::before, .draww:hover::after {
  width: 100%;
  height: 100%;
}
.draww:hover::before {
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draww:hover::after {
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meett:hover {
  /*color: black;*/
  /*background-color:none;*/
}
.meett::after {
  top: 0;
  left: 0;
}
.meett:hover::before {
  border-top-color:#00BCD4;
  border-right-color:none !important;
}
.meett:hover::after {
  border-bottom-color:#00BCD4;
  border-left-color:none !important;
  -webkit-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}