.Sponsors{
  display:flex;
  align-items:flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /*height:100%;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*overflow: hidden;*/
  width:70vw;
  font-family:'Raleway', cursive;
  color:lightgrey;
  margin:0 auto;
  padding-bottom:100px;
}
.Sponsors span{
	font-size: 25px !important;
}
.co-sponsors{
	width:100%;
	padding-top:30px;
	padding-bottom: 30px;
	border-bottom:1px solid grey;
}
.co-sponsor-img{
	margin-top:15px;
	margin-bottom:15px;
	height:100px !important;
	margin-right:20px;
	background-color: white;
}
@media only screen and (max-width:10in){
  .Sponsors{
    width:97.5vw;
    /*height: initial;*/
  }
}