.team{
	width:100vw;
	/*padding-top:100px;*/
	/*height:100%;*/
	overflow:hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.trig-wrapper{
	position: fixed;
	top:14;
	right:100px;
	background-color: rgba(0,211,211,0.7);
	z-index:100;
	padding:10px 30px;
	border-radius:5px;
	color:white;
	font-family:'Roboto',sans-serif;
	font-size:22px;
	font-weight:bold;
	display: flex;
	justify-content:flex-end;
	/*width:100vw;*/
}

.trigg1{
	width:18px;
	height:18px;
	border-radius:50%;
	display: inline-block;
	margin:8px 15px;
	border:1px solid black;
	vertical-align: middle;
}
.trigg1-active{
	width:14px;
	height:14px;
	margin:2px;
	border-radius:50%;
	background-color:transparent;
	transition: 1s;
}
#trigg10{
	background-color: black;
}
.swipe-view-cont{
	width:100vw;
}
.sLide{
	width:100vw;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
	display:flex;
	align-items:center;
  	justify-content:space-around;
  	flex-wrap: wrap;
}
/*css for profile.js*/
.ProfileCard{
	width:450px;
	height:350px;
	margin:30px 20px 30px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow:hidden;
	padding:0px 0px 0px 0%;
	border-radius:6px;
	/*background-color: green;*/
}
.profile-card-cont{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:100%;
	min-height:100%;
	position:relative;
	background-color: white;
	font-family: 'Roboto',sans-serif;
	box-shadow: 0px 0px 4px #888888;
	top:50px;
}
.cmnTeam{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
@media only screen and  (max-width:7in){
	.trig-wrapper{
		width:100%;
		right:0;
		justify-content:flex-start;
	}
	.trigg1{
		margin:1px 8px;
	}
	
}
.profile-card-img-cont{
	position: absolute;
	width:100px;
	height:100px;
	top:-50px;
	left:15px;
	border-radius:50%;
	overflow: hidden;
	padding:2px;
	background-color:white;
	z-index:2;
}
.profile-card-img{
	height: 100%;
	width:100%;
	border-radius: 50%;
}
.profile-card-content-cont{
	margin-top: 0px;
	background-color: white;
	border-radius:6px;
	overflow: hidden;
}

