.team{
	width:100vw;
	padding-top:100px;
}
.team-member{
	text-align:center;
}
.profile-card-cont{
	margin:60px 0% 0px 0%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	width:100%;
	min-height:200px;
	position:relative;
	background-color: white;
	font-family: 'Roboto',sans-serif;
	border-radius:6px;
}
.profile-card-img-cont{
	position: absolute;
	width:100px;
	height:100px;
	top:-50px;
	left:15px;
	border-radius:50%;
	overflow: hidden;
	padding:2px;
	background-color:white;
	z-index:2;
}
.profile-card-img{
	height: 100%;
	width:100%;
	border-radius: 50%;
}
.profile-card-content-cont{
	margin-top: 0px;
	background-color: white;
	min-height:200px;
	border-radius:6px;
	overflow: hidden;
}

