.team{
	width:100vw;
	padding-top:100px;
}
.trigg1{
	width:18px;
	height:18px;
	border-radius:50%;
	display: inline-block;
	margin:8px 15px;
	border:1px solid black;
	vertical-align: middle;
}
.trigg1-active{
	width:14px;
	height:14px;
	margin:2px;
	border-radius:50%;
	background-color:transparent;
	transition: 1s;
}
#trigg10{
	background-color: black;
}

/*css for profile.js*/
.ProfileCard{
	width:100%;
	margin-bottom:20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.profile-card-cont{
	margin:60px 2.5% 10px 2.5%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	width:45%;
	min-height:200px;
	position:relative;
	background-color: white;
	font-family: 'Roboto',sans-serif;
	border-radius:6px;
	box-shadow: 0px 0px 4px #888888;
}

@media only screen and  (max-width:8in){
	.profile-card-cont{
		margin:60px 0% 5px 0%;
		width:100%;
		display: block;
		padding-top: 0;
	}
	
}
.profile-card-img-cont{
	position: absolute;
	width:100px;
	height:100px;
	top:-50px;
	left:15px;
	border-radius:50%;
	overflow: hidden;
	padding:2px;
	background-color:white;
	z-index:2;
}
.profile-card-img{
	height: 100%;
	width:100%;
	border-radius: 50%;
}
.profile-card-content-cont{
	margin-top: 0px;
	background-color: white;
	min-height:200px;
	border-radius:6px;
	overflow: hidden;
}

