.Timeline{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  height:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  width:100vw;
  font-family:'Nova Flat', cursive;
  color:lightgrey;
  margin:0 auto;
  /*padding:0;*/
}