.Workshops{
  display:flex;
  align-items:center;
  justify-content: center;
  height:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  width:100vw;
  font-family:'Nova Flat', cursive;
  color:lightgrey;
  
}
.Workshops .earth-wrap{
  width:320px;
  height:320px;
/*  border-radius: 50%;
  border:2px solid white;*/
  display:flex;
  align-items:center;
  justify-content: center;
  font-size:29px;
}